<p id="notice"><%= notice %></p>

<h1>Listing Continents - <%= pluralize(@continents.count, "continents") %> total ...</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @continents.each do |x| %>
      <tr>
        <td><%= x.name %></td>
        <td> <%= pluralize(x.regions.count, "regions") %></td>
        <td><%= link_to 'Show', x %></td>
        <td><%= link_to 'Edit', edit_continent_path(x) %></td>
        <td><%= link_to 'Destroy', x, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <%= render 'shared/showregion', object: x %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Continent', new_continent_path %>
