<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "#", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Show <b class="caret"></b>
            </a>
            
              <li><%= link_to "Domains", domains_path %></li>
              <li><%= link_to "Regions", regions_path %></li>
              <li><%= link_to "Continents", continents_path %></li>
              <li><%= link_to "Mice", mice_path %></li>
    </nav>
  </div>
</header>